.signin{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:70vh;
}

.bg{
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.title{
    text-align: center;
}

.bg > div{
    margin-bottom:1rem;
}